    main{
            display: flex;
            justify-content: center;
        }
        .main_conteiner{
            background-color: #1e2227;  
            padding: 2em 0;
            width: 100%;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
        }
        #titulo_liga{
           
            padding: 1em 2em;
        }
        .ligas{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .ligas_item{            
            background-color: rgba(65, 65, 65, 0.295);
            width: 150px;
            padding: 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center ;
            margin: 10px;
        }
            .ligas_item img {
            width: 90px; /* Imagem menor e controlada */
            height: 90px;
            object-fit: contain;
            margin-bottom: 15px; /* Espaço entre imagem e nome */
        }

        .ligas_item h2 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #eee;
        }

        
       .ligas_item {            
    /* ... seus estilos atuais ... */
            border: 3px solid transparent; /* Reserva o espaço da borda */
            transition: all 0.3s ease;    /* Faz a mudança ser suave */
            cursor: pointer;
        }

     .ligas_item:hover {
            background-color: rgba(16, 16, 143, 0.5); /* Escurece um pouco o fundo */
            border-color: #6500a8;                   /* Borda na cor padrão do Valorant */
            transform: translateY(-3px);            /* Levanta o card levemente */
        }